/* 이미지클라우드 var. 0.0.1 */
//ie8기준처리
//opencolor색상
@import "oen-color.scss";


/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.2;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;color:#333}
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:underline}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
*{box-sizing:border-box;}

// 아이콘이미지 */

$ico_url:url(../img/img_icon_v1.png?132334);

/* text 관련 */
.text_left{text-align: left !important}
.text_center{text-align: center !important}
.text_right{text-align: right !important}
.text_gray{color:$oc-gray-6}
.text_blue{color:$oc-blue-7}
.text_red{color:$oc-red-8}
.text_green{color:$oc-green-8}



.wrap{min-width:700px;}

.topbar{
    &__comm{display:block; padding:8px 5px; background:$oc-white;}
    &__menulist{ display:inline-block; margin-left:15px; vertical-align:top;
        &:after{content:''; display:block; clear:both}
        > li{float:left; margin:0 10px; font-weight:600; letter-spacing:-1px;
            &.active{ border-bottom:4px solid #999}
            > a{ display:block; padding:5px 0; cursor:pointer }
        }
    }
    &__tit{display:inline-block; padding:5px 10px; font-weight:600; letter-spacing:-1px; vertical-align:top}
    &__link{}
}



.cont{
    &__wrap{}
    &__tit{display:inline-block; padding:5px 10px; font-weight:600; letter-spacing:-1px;}
    &__subtit{display:block; padding:10px; font-size:16px; font-weight:600;background:$oc-gray-3; color:$oc-black}
    &__txt{margin: 5px 10px;}
}


.tabmenu__list > li.active{border-bottom:5px solid $oc-blue-6;
    .tabmenu__link{font-weight:600;}
}

.search{
    &__comm{position:relative; padding:10px; border:1px solid $oc-gray-5; border-left:none; border-right:none; background:$oc-white; }
    &__opt{display:inline-block; height:28px; padding:2px 5px; border:1px solid $oc-gray-5; vertical-align:top }
    &__tf {display:inline-block; height:28px; padding:5px; border:1px solid $oc-gray-5; vertical-align:top }
    &__btn {display:inline-block; height:28px; margin:0; padding:5px; border:1px solid $oc-gray-5; vertical-align:top; cursor:pointer}
    &__checkbox{ display:inline-block; height:28px; padding:5px; border:1px solid $oc-gray-5; }
}

.thumb{
    &__comm{}
    &__list{display:block; margin-left:10px;
        &:after{content:''; display:block; clear:both}
        > li{display:block; float:left; height:200px; margin-right:8px;}
    }
    &__img {display:block; max-width:160px; max-height:160px; border:1px solid #ddd;}
}

.help{
    &__comm{margin:10px 0;padding:0 10px;}
}

.fix_top{position:fixed;top:0; width:100%;}